demo/xbel/xbel.dtd

<!-- DTD for XBEL - XML Bookmark Exchange Language -->

<!ELEMENT XBEL (INFO, FOLDER+)>
<!ELEMENT FOLDER (NAME?, (BOOKMARK|FOLDER)+)>

<!ELEMENT BOOKMARK (NAME, URL, ADDED?, VISITED?, MODIFIED?)>

<!ELEMENT INFO (OWNER, DATE?, MACHINENAME?)>

<!ELEMENT OWNER (#PCDATA)>
<!ELEMENT MACHINENAME (#PCDATA)>
<!ELEMENT DATE (#PCDATA)>

<!ELEMENT NAME (#PCDATA)>
<!ELEMENT URL (#PCDATA)>
<!ELEMENT ADDED (#PCDATA)>
<!ELEMENT VISITED (#PCDATA)>
<!ELEMENT MODIFIED (#PCDATA)>
